# Firabase
NEXT_PUBLIC_FIREBASE_API_KEY="AIza..."
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN="muslim-app..."
NEXT_PUBLIC_FIREBASE_PROJECT_ID="muslim-app..."
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET="muslim-app..."
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID="734909330154"
NEXT_PUBLIC_FIREBASE_APP_ID="1:7349..."